.mainBlock {
  position: relative;
  height: 400px;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  border-radius: 3px;
}

.divider {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
  float: left;
  width: 100%;
}
.divider::before,
.divider::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.forgotPass {
  float: right;
}

.forgotPass a{
  text-decoration: none;
  color: blue;
}

.errorMsg {
  float: left;
  width: 100%;
  margin-top: 10px;
  display: flex;
  height: 30px;
  background-color: rgba(180,216,231,.2);
  color: red;
}
