.loginSpace {
  position: absolute;
  width: 350px;
  height: 400px;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -175px;

  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  border-radius: 3px;
}

#ap_email,#ap_password {
  width: 100%;
  height: 27px;
  border-style: solid;
  border-color: #C0C0C0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#ap_email:focus,#ap_password:focus {
  outline: none;
  border-color: orange;
  box-shadow: 0 0 7px orange;
}

#signInSubmit {
  width: 100%;
  height: 35px;
  background-color: #ffd633;
  border-radius: 3px;
  border-style: solid;
  border-color: #ffd000;
  font-size: 17px;
}

#signInSubmit:hover {
  background-color: #ffcc00;
}

#signInSubmit:focus {
  outline: none;
  border-color: orange;
  box-shadow: 0 0 7px orange;
}
.divider {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);

	margin: 8px 0px;
}
.divider::before,
.divider::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

#createNewAcc {
  width: 100%;
  height: 35px;
  background-color: #B0B0B0;
  border-radius: 3px;
  border-style: solid;
  border-color: #C0C0C0;
  font-size: 20px;
}

#createNewAcc:hover {
  background-color: #B9B9B9;
}

#createNewAcc:focus {
  outline: none;
  border-color: #808080;
  box-shadow: 0 0 7px #C0C0C0;
}
.forgotPass {
  float: right;
}

.forgotPass a{
  text-decoration: none;
  color: blue;
}
