#productList  {
  margin: 0;
  list-style-type: none;
  width: 90%;
}

#productList li {
  float: left;
  margin: 10px 0px 0px 10px;
}

.product {
  border-style: solid;
  width: 180px;
  border-radius: 3px;
  border-width: thin;
}

.productName {
  color: blue;
}

.productDescription {
  margin-left: 15%;
}

.productCompany {
  font-size: 15px;
  color: grey;
}

.productCompany .by {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}

.productVariant {
  font-size: 15px;
}

.productColor, .productStorage {
  color: powderblue;
}

#variant {
  color: brown;
}

.productPrice {
  color: crimson;
  font-weight: bold;
}
