.productList{
  width: 100%;
  float: left;
}

.productImage {
  float: left;
  height: 100%;
  width: 30%;
}

.productInfo {
  float: left;
  width: 70%;
  height: 100%;
}

.info {
  margin-top: 10%;
}

.productImage img {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

#productList  {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

#productList li {
  float: left;
  margin-left: 50px;
  margin-top: 30px;
  width: 90%;
}

.product {
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  height:300px;
}

.product:hover {
  outline: none;
  border-color: gray;
  box-shadow: 0 0 10px black;
  height:
}

.productName {
  color: blue;
  font-size: 22px;
  margin-bottom: 1%;
}

.productDescription {
  margin-left: 15%;
  margin-bottom: 1%;
}

.productCompany {
  font-size: 20px;
  color: grey;
  margin-bottom: 1%;;
}

.productCompany .by {
  font-size: 15px;
  margin-bottom: 1%;
}

.productVariant {
  font-size: 20px;
  margin-bottom: 1%;
}

.productColor, .productStorage {
  color: rgb(50,100,255);
}

#variant {
  color: brown;
}

.productPrice {
  color: crimson;
  font-size: 17px;
  font-weight: bold;
}
