{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block header %}
Header HERE
<a href="{{ url_for('index') }}">HOME</a>
{% endblock %}

{% block middle %}
  <div class="mainBlock">
    <form method="post" action="{{ url_for('login') }}">
      <h1>Login</h1>
      <div class="labelRow">
        <label for="ap_email" class="formLabel">
          Email
        </label>
      </div>
      <input id="ap_email" type="email" name="email" autofocus class="inputField">
      <div class="labelRow">
        <label for="ap_password" class="formLabel">
          Password
        </label>
        <div class="forgotPass">
          <a href="">Forgot Password</a>
        </div>
      </div>
      <input id="ap_password" type="password" name="password" class="inputField">
      <div class="loginButton">
        <input id="signInSubmit" class="continueYellowButton" type="submit" name="login" value="Login">
      </div>
      <div class="divider">
        <h5>New to site?</h5>
      </div>
      <button onclick="window.location.href = '{{ url_for('register') }}' " id="createNewAcc" class="continueGrayButton" type="button" name="createNewAcc">Create new account</button>
    </form>
  </div>
{% endblock %}

{% block footer %}
Footer HERE
{% endblock %}
