<div id="headdiv">
<ul>
  <li id="ul1"><a href="{{ url_for('customerCare') }}">Customer Care</a></li>
  <li id="ul1"><a href="{{ url_for('register') }}">sign up</li>
  <li id="ul1"><a href="{{ url_for('login') }}">login</a></li>

</ul>
</div>

<div>
<form method="post" action="{{ url_for('search')}}">
<input type="text" name="searchbox" id="search" size="70" placeholder="Search by phone or company name"><input type="submit" id="sb"></form>
</div>
<div class="drop" style="margin:0px 0px 0px 30px;">
<button class="b1">Electronics</button>
<div class="dc">
<button type="button" class="mobile">MOBILES</button>
  <div class="mobiledc">
  <a href="{{url_for('samsung') }}">Samsung</a>
  <a href="{{url_for('redmi') }}">Redmi</a>
  <a href="{{url_for('apple') }}">Apple</a>

  </div>
</div>
</div>
