{%extends "base.html"%}

{% block title%}{%endblock%}
{%block css%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/mainc.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/product.css') }}">
{%endblock%}
{%block header%}

<div class="mainHeader" style="float:left;height:100%;">
  {% include "mainHeader.html" %}
</div>
{%endblock%}
{% block middle %}
<ul id="productList">

  {% for product in products %}
    <li>
      <div class="product">
        <div class="productImage">
          <!--- TODO - Add image from DB --->
          <img src="{{ url_for('static',filename=product['image']) }}" alt="{{product['name']}}">
        </div>
        <div class="productInfo">
          <div class="info">
          <div class="productName productDescription" id="productName">
            {{product["name"]}}
          </div>
          <div class="productCompany productDescription">
            <span class="by">by</span>
            <span class="companyName">{{product["brand"]}}</span>
          </div>
          <div class="productVariant productDescription">
            <span id="variant">Variant :</span>
            <span class="productColor">{{product["color"]}}</span>
            <span class="productStorage">{{product["storage"]}}</span>
          </div>
          <div class="productPrice productDescription">
            &#2352; {{product["price"]}}
          </div>
        </div>
        <div style="float:left;width:100%;margin-top:5%;">
        <div style="margin-left:10%;width:20%;display:inline-block;float:left;"><button class="continueGrayButton" onclick="getValuesForCart();">Add to Cart</button>
    		</div>
    		<div style="margin-right:10%;width:20%;display:inline-block;float:right;"><button class="continueYellowButton" onclick="window.location='/buyProduct/{{product.name}}/{{product.storage}}';">Buy this product</button></div>
        </div>
      </div>
      </div>

    </li>
  {% endfor %}

</ul>
{% endblock %}
