{%extends "base.html"%}

{% block title%}Redmi{%endblock%}
{%block css%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/mainc.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/product.css') }}">
{%endblock%}
{%block header%}

<div class="mainHeader" style="float:left;height:100%;">
	{% include "mainHeader.html" %}
</div>

{%endblock%}

{% block middle %}
<div id="mainhdiv">
		<div class="brand">
			Redmi
		</div>
		<div class="drop" id="dropi"><button class="b1">Select Filter Here</button>
		<div class="dc"><button type="button" class="mobile" id="dci">Filter by Storage</button>
		<div class="mobiledc" style="height:190px;width:200px;">
			<a href="{{ url_for('redmibelow32gb') }}">below 32GB</a>
			<a href="{{ url_for('redmi32gb64gb') }}">between 32GB to 64 GB</a>
			<a href="{{ url_for('redmi64gb256gb') }}">between 64GB to 256GB</a>

</div>
</div>
</div>
<div class="dropsort" id="dropi"><button class="b1">Select Sort Here</button>
		<div class="mobiledc" id="modc1" style="height:120px;width:200px;">
			<a href="{{ url_for('redmisbp') }}">Sort By Price</a>
			<a href="{{ url_for('redmisbs') }}">Sort By Storage</a>


</div>
</div>
</div>


	<div class="productList">
		{% include 'productsLists.html' %}
	</div>
{% endblock %}
