{% extends "base.html" %}

{% block title %}Home page{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mainc.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/product.css') }}">
{% endblock %}
{% block jscript %}
  <script type="text/javascript" src="{{ url_for('static',filename='jscript/mainj.js') }}"></script>
{% endblock %}
{% block header %}
  {% include 'mainHeader.html' %}
{% endblock %}
{% block middle %}
{% if not_admin %}
  Admin access needed!
{% else %}
  <table>
    <tr>
      <th>Name</th>
      <th>Storage</th>
      <th>Number of products sold</th>
    </tr>
    {% for row in rows %}
      <tr>
        <td>{{row["name"]}}</td>
        <td>{{row["storage"]}}</td>
        <td>{{row["numberofproductssold"]}}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
